*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  --size: 60px;
}  */

html {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1em;
  z-index: 999;
}

header figure {
  width: clamp(8em, 150px, 12em);
  /* border: 2px solid tomato; */
}

header > figure img {
  display: block;
  width: 100%;
}

header button {
  width: 3em;
  line-height: 0;
  background-color: transparent;
  border: none;
}

main {
  position: relative;
  margin-top: 5em;
}

#songs {
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
  /* border: 2px dashed white; */
}

#songs > article {
  background-color: var(--boxColor);
  height: 100%;
  flex-basis: calc(100% / 3);
  transition: flex 1s ease-in-out;
  position: relative;
  cursor: pointer;
}

#songs > article.flex {
  flex: 100%;
}

#songs article > * {
  position: absolute;
  margin: 1em;
}

#songs > article h1 {
  top: 0;
  left: 0;
  text-transform: capitalize;
}

#songs > article button {
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  outline-offset: 1em;
  bottom: 0;
  left: 0;
}

#songs > article figure {
  width: 20px;
  bottom: 0;
  right: 0;
}

#songs > article:nth-of-type(1) {
  --boxColor: red;
  transition: 1s;
}

#songs > article:nth-of-type(1):hover {
  --boxColor: rgb(145, 3, 3);
}

#songs > article:nth-of-type(2) {
  --boxColor: yellow;
  transition: 1s, margin 0s;
  margin: 0 2em;
}

#songs > article:nth-of-type(2):hover {
  --boxColor: rgb(207, 207, 0);
}

#songs > article:nth-of-type(3) {
  --boxColor: blue;
  transition: 1s;
}

#songs > article:nth-of-type(3):hover {
  --boxColor: rgb(0, 0, 184);
}

@media (max-width: 80em) {
  #songs {
    flex-direction: column;
  }

  #songs > article:nth-of-type(2) {
    margin: 2em 0;
  }
}

#showcase {
  position: relative;
  /* border: 2px dashed white; */
  overflow: hidden;
}

.carousel {
  position: relative;
  margin: 1em;
}

.carousel img {
  object-fit: cover;
  width: 100%;
  position: relative;
}

.carousel button {
  --offset: 0;
  background-color: transparent;
  border: none;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel button:first-of-type {
  cursor: url("/images/left-arrow.svg"), pointer;
  left: var(--offset);
}
.carousel button:last-of-type {
  cursor: url("/images/right-arrow.svg"), pointer;
  right: var(--offset);
}

@media (min-width: 80em) {
  #showcase {
    position: relative;
    overflow: hidden;
  }
}
@media (max-width: 700px) {
  .carousel {
    aspect-ratio: 4/3;
  }

  .carousel img {
    object-fit: cover;
    height: 100%;
  }
}

/* .cursor {
    --size: 65px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    background-color: rgb(235, 252, 252);
    position: absolute;
    transition: 100ms ease-out;
  } */

#grid {
  width: 80%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
  margin-top: 5em;
}

#grid > article {
  background-color: white;
  overflow-y: scroll;
  /* height: min(600px, 100vh); */
  aspect-ratio: 9 / 16;
  position: relative;
}

@media (max-width: 1000px) {
  #grid {
    /* width: 90%; */
    column-gap: 0em;
    grid-template-columns: 1fr 1fr;
  }

  #grid article {
    margin: 0 1em;
  }
}

@media (max-width: 700px) {
  #grid {
    width: 100%;
    grid-template-columns: 1fr;
    margin-top: 0em;
  }

  #grid article {
    margin: 0 1em;
  }
}

#grid h1 {
  padding: 1em;
  background-color: white;
  font-size: 150%;
  position: sticky;
  top: 0;
}

.videos iframe {
  padding: 0 1em;
  width: 100%;
  /* height: 40%; */
  aspect-ratio: 16 / 9;
}

/* @media (max-width: 700px) {
  .videos iframe {
    height: min(200px, 40%);
  }
} */

#grid article > button {
  cursor: pointer;
  position: sticky;
  bottom: 1em;
  height: 4em;
  background: white;
  border: none;
  font-weight: bold;
  --width: 80%;
  left: calc((100% - var(--width)) / 2);
  width: var(--width);
  box-shadow: 0px 0px 50px 20px #00000027;
  transition: .2s;
  /* transform: scale3d(1.5, 1.5, 1.5); */
}

#grid article > button:hover {
  transform: scale3d(2, 2, 2);
  bottom: 2em;
  will-change: auto;
  border-radius: 2px;
}

.shop figure {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
}

.shop img {
  width: 100%;
  aspect-ratio: 1/1;
  box-shadow: 5px 5px 0px black;
  border: 3px solid black;
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer {
  color: white;
  width: 80%;
  margin: 3em auto;
}

#footer-lists {
  /* border: 2px solid white; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer ul {
  list-style: none;
  margin: 1em 0;
}

footer ul li:first-of-type {
  font-weight: bold;
}

@media (max-width: 700px) {
  footer {
    width: 100%;
    padding: 0 1em;
  }

  footer h1 {
    margin-bottom: 1em;
  }

  #footer-lists {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* -------------------------------------------------------------------------- */
/*                              custom scrollbar                              */
/* -------------------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#grid > article::-webkit-scrollbar {
  /* display: none; */
}
